.ini--bg {
  background: rgb(calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*52 + var(--mode)*252));
}

.sec--bg {
  background: rgb(calc(var(--not-mode)*23 + var(--mode)*241), calc(var(--not-mode)*23 + var(--mode)*245), calc(var(--not-mode)*33 + var(--mode)*254));
}

.ini--fg {
  color: rgb(calc(var(--not-mode)*254 + var(--mode)*38), calc(var(--not-mode)*254 + var(--mode)*38), calc(var(--not-mode)*254 + var(--mode)*38));
}

img[alt="Free Web Hosting"] {display: none;}.container {    padding: 10px;    margin: auto;    margin-top: 10px;    margin-bottom: 10px;    height: calc(100% - 125px);    width: calc(100% - 20px);    border: 1px solid #47abf9;    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);    -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);}.container:hover{	-moz-box-shadow: 0px 0px 10px 1px  #47abf9;	-webkit-box-shadow: 0px 0px 10px 1px  #47abf9;	box-shadow: 0px 0px 10px 1px  #47abf9;	border: 2px solid #47abf9;}.container:focus{	-moz-box-shadow: 0px 0px 5px 1px #47abf9;	-webkit-box-shadow: 0px 0px 5px 1px  #47abf9;	box-shadow: 0px 0px 5px 1px  #47abf9;	border: 2px solid #47abf9;}.container2 {    padding: 10px;    margin: auto;    margin-top: 10px;    margin-bottom: 10px;    height: calc(100% - 175px);    width: calc(100% - 20px);    border: 1px solid #47abf9;    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);    -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);}.container2:hover{	-moz-box-shadow: 0px 0px 10px 1px  #47abf9;	-webkit-box-shadow: 0px 0px 10px 1px  #47abf9;	box-shadow: 0px 0px 10px 1px  #47abf9;	border: 2px solid #47abf9;}.container2:focus{	-moz-box-shadow: 0px 0px 5px 1px #47abf9;	-webkit-box-shadow: 0px 0px 5px 1px  #47abf9;	box-shadow: 0px 0px 5px 1px  #47abf9;	border: 2px solid #47abf9;}textarea {    border: none;    outline: none;    resize: none;    width: 100%;    height: 100%;    background: transparent;    color: #47abf9;    font-family: 'Lexend deca',sans-serif;}textarea::-webkit-scrollbar {	width: 2px;	height: 2px;}textarea::-webkit-scrollbar-track {	-webkit-box-shadow:inset 0 0 10px #BDDAE0;}textarea::-webkit-scrollbar-thumb {	background-color: #47abf9;}.container_submit {    padding: 7px;    margin: auto;    height: 50px;    display: flex;    width: calc(100% - 20px);    border: 1px solid #47abf9;    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.03);    -webkit-box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 3%);}.container_submit:hover{	-moz-box-shadow: 0px 0px 10px 1px  #47abf9;	-webkit-box-shadow: 0px 0px 10px 1px  #47abf9;	box-shadow: 0px 0px 10px 1px  #47abf9;	border: 2px solid #47abf9;}.container_submit:focus{	-moz-box-shadow: 0px 0px 5px 1px #47abf9;	-webkit-box-shadow: 0px 0px 5px 1px  #47abf9;	box-shadow: 0px 0px 5px 1px  #47abf9;	border:21px solid #47abf9;}.button {    display: block;    width: 100%;    height: 100%;    outline: none;    border: none;    background-color: #0b8ff9;    color: #fff;    font-size: 18px;    border-radius: 0.5rem;    cursor: pointer;    transition: .3s;	max-width: 400px;    margin: auto;	font-family: 'Lexend deca',sans-serif;}input {    border: none;    outline: none;    resize: none;    width: 90%;    height: 100%;	background: transparent;    color: #47abf9;	font-family: 'Lexend deca',sans-serif;}a {    text-decoration: none;}.alert {    position: absolute;    margin: auto;    background-color: #101a2d;    color: white;    padding: 10px 0;    font-size: 16px;    font-family: 'Poppins',sans-serif;    text-align: center;    left: 0;    right: 0;    bottom: 0;    display: none;}#data{	display:none;}	.blink{pointer-events: none;	background: linear-gradient(60deg, #ff0000, #24bd2a, #ff00f3, #0033ff,#ffff00, #ff00c4, #ff0000);	background-size: 400%;	-webkit-text-fill-color: transparent;	-webkit-background-clip: text;	animation: blink 1.3s linear infinite;}@keyframes blink{	0%{        background-position:100%;	}	50%{		opacity: 0.1;	}	100%{	      background-position:0%;	}}.upload_file{height: 100%;top: 15%;position: absolute;}::-webkit-file-upload-button{border:none;background:#0b8ff9;height:70%;color:white;width:100px;border-radius:5px;}

meter {
  -moz-appearance: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0.5em;
  --c0: var(--col);
  --c1: rgb(calc(var(--not-mode)*12 + var(--mode)*248), calc(var(--not-mode)*29 + var(--mode)*253), calc(var(--not-mode)*27 + var(--mode)*246));
}

meter::-webkit-meter-bar {
  border: none;
  height: 0.375em;
  background: transparent;
}
meter::-webkit-meter-optimum-value {
  border-radius: 0.375em;
  background: linear-gradient(90deg, var(--c0) 85%, var(--c1));
}

meter::-moz-meter-bar {
  height: 0.375em;
  border-radius: 0.375em;
  background: linear-gradient(90deg, var(--c0) 85%, var(--c1));
}

#scan {
    --not-mode: calc(1 - var(--mode));
    place-content: center;
	display: none;
    font: 1em/1.5 roboto, sans-serif;
    width: 100%;
}

.main {
  z-index: 1;
}

.wrap {
  padding: 1em;
  max-width: 900px;
  margin: auto;
}

.wrap--types {
  grid-gap: 1em;
}

.view--favs .wrap--types {
  grid-auto-flow: column;
}

.slide {
  --ll: rgb(calc(var(--not-mode)*73 + var(--mode)*230), calc(var(--not-mode)*73 + var(--mode)*230), calc(var(--not-mode)*75 + var(--mode)*230));
  --hl: rgb(calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*52 + var(--mode)*252));
  display: grid;
  grid-gap: 0.75em 0;
  grid-template-columns: 1fr 1fr;
  grid-area: 1/1;
  padding: 0.5em;
  border-radius: 1em;
}
.slide > :not(.chart) {
  display: grid;
}
.slide > :not(.chart)::before, .slide > :not(.chart)::after {
  grid-column: 2;
}
.slide > :not(.chart)::before {
  color: #9d9d9d;
  text-transform: capitalize;
  content: attr(name);
}
.slide > :not(.chart)::after {
  font-size: 1.75em;
  font-weight: 900;
  content: counter(val);
}

.chart {
  grid-column: 1/-1;
  place-self: center;
  overflow: hidden;
  position: relative;
  padding: 27.5%;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 2em var(--ll);
}
.chart::before, .chart::after, .chart .arc {
  position: absolute;
  right: 0;
  left: 0;
  line-height: 1.125;
  text-align: center;
}
.chart::before {
  bottom: 50%;
  font-size: 2.125em;
  font-weight: 700;
  counter-reset: perc var(--perc);
  content: counter(perc) "%";
}
.chart::after {
  content: "Complete";
}

.arc {
  --a: calc(var(--rel)*360deg);
  display: grid;
  top: 0;
  bottom: 0;
  transform: rotate(calc((var(--cum) - var(--rel))*360deg));
  background: conic-gradient(var(--col) var(--a), transparent 0%);
  --mask:
  	radial-gradient(closest-side,
  			transparent calc(100% - 2em - 1px), red calc(100% - 2em));
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.arc::before, .arc::after {
  grid-area: 1/1;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 1em, var(--col) 1em, transparent calc(1em + 1px));
  content: "";
}
.arc::after {
  transform: rotate(var(--a));
}

.total {
  counter-reset: val var(--ssum);
}

.used {
  counter-reset: val var(--used);
}

.tile {
  padding: 0.5em;
  border-radius: 1em;
  background: rgb(calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*44 + var(--mode)*252), calc(var(--not-mode)*52 + var(--mode)*252));
}

.tile header {
  display: grid;
  grid-template-columns: 1fr max-content;
  z-index: 2;
}

.tile h3 {
  font-size: 1.375em;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--col);
}

.tile nav {
  place-self: start;
  grid-area: 1/2;
}

.info__num {
  flex: 1;
  font-weight: 500;
  text-align: left;
}

.info__rel {
  flex: 1;
  font-weight: 500;
  text-align: right;
}

.info__rel::after {
  content: "%";
}

.info--flex{
    display: flex;
}